.Hero{
    position: relative;
    height: 230px;
    background-image: url('../../assets/Images/Menu/_Thumbnail/pexels-eneida-nieves-905847_SMALL.jpg');
    background-position:center;
    background-size: cover;
    overflow: hidden;
    z-index: 1;
}

.Hero-Overlay{
    position: absolute;
    width: 300px;
    height: 570px;
    background-color: #373737;
    opacity: 75%;
    transform: rotate(-45deg);
    left: -70px;
    top: 0;
}

.Hero-Text{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: left;
    z-index: 1;
    width: 80%;
    height: 100%;
    padding-left: 05px;
}

.Hero-Text h1{
    color: #21A436;
    font-size: 28px;
    font-family: 'Oregano', cursive;
    margin-bottom: 35px;
}

.Hero-Text p{
    color: white;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    padding-left: 50px;
    margin-bottom: 6px;
}

.Hero-Text p:first-of-type{
    font-family: 'Oranienbaum', serif;
}

.Hero-Text p:last-of-type{
    font-family: 'Oooh Baby', cursive;
    padding-left: 70px
}

.Hero-Buttons button{
    font-size: 8px;
    padding: 5px 15px;
    border: none;
    background-color: #21A436;
    color: white;
    border-radius: 3px;
    margin: 10px;
    transition: .2s;
}

.Hero-Buttons button:hover{
    background-color: #157024;
}

.Hero-Buttons{
    margin-bottom: 10px;
}

.FeaturedContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Featured{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-bottom: 100px;
}

.Featured-Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Featured-Content h2{
    font-size: 20px;
}

.Featured-Content p{
    font-size: 12px;
    text-align: center;
}

.Featured img{
    width: 130px;
    height: auto;
    margin-bottom: 20px;
}

@media all and (min-width: 320px){
    .Hero-Overlay{
        left: -40px;
    }

    .Hero-Text h1{
        margin-bottom: 45px;
    }

    .Hero-Text p{
        font-size: 18px;
    }

    .Hero-Buttons button{
        font-size: 10px;
    }

    .Featured{
        width: 300px
    }

    .Featured-Content h2{
        font-size: 24px;
    }
    
    .Featured-Content p{
        font-size: 16px;
        text-align: center;
    }
    
    .Featured img{
        width: 150px;
        height: auto;
        margin-bottom: 20px;
    }
}

@media all and (min-width: 430px){
    .Hero-Overlay{
        width: 450px;
        height: 745px;
        left: -180px;
        top: -100px
    }

    .Hero{
        height: 280px;
        background-image: url('../../assets/Images/Menu/_Thumbnail/pexels-eneida-nieves-905847_MEDIUM.jpg');
    }

    .Hero-Buttons{
        margin-bottom: 25px;
    }

    .Hero-Buttons button{
        padding: 5px 25px;
    }

    .Hero-Text h1{
        font-size: 32px;
        margin-bottom: 75px;
        margin-left: 10px;
    }

    .Hero-Text p{
        font-size: 20px;
    }

    .Hero-Text p:last-of-type{
        margin-bottom: 20px;
    }

    .Hero-Buttons button{
        font-size: 10px;
    }

    .Featured{
        width: 400px
    }

    .Featured-Content h2{
        font-size: 30px;
    }
    
    .Featured-Content p{
        font-size: 20px;
        text-align: center;
    }

    .Featured img{
        width: 200px;
    }
}

@media all and (min-width: 650px){
    .Hero{
        height: 400px;
    }

    .Hero-Overlay{
        width: 450px;
        height: 745px;
        left: -90px;
        top: 0px;
    }

    .Hero-Buttons{
        margin-bottom: 25px;
    }

    .Hero-Text h1{
        font-size: 45px;
        margin-bottom: 100px;
    }

    .Hero-Text p{
        font-size: 26px;
        margin-left: 50px;
    }

    .Hero-Text p:last-of-type{
        margin-bottom: 40px;
    }

    .Hero-Buttons button{
        font-size: 18px;
        padding: 5px 30px;
    }

    .Featured{
        width: 550px;
        margin-bottom: 150px;
    }

    .Featured-Content h2{
        font-size: 34px;
    }
    
    .Featured-Content p{
        font-size: 22px;
        text-align: center;
    }

    .Featured img{
        width: 200px;
    }
}

@media all and (min-width: 820px){
    .Hero{
        height:450px;
    }

    .Hero-Overlay{
        top: -100px;
        left: -50px;
        height: 900px;
    }

    .Hero-Buttons{
        margin-bottom: 45px;
    }

    .Hero-Text h1{
        font-size: 60px;
        margin-bottom: 110px;
    }

    .Hero-Text p{
        font-size: 30px;
    }

    .Hero-Text p:last-of-type{
        margin-bottom: 40px;
    }

    .Hero-Buttons button{
        font-size: 18px;
        padding: 5px 30px;
    }
}

@media all and (min-width: 1024px){
    .Featured{
        width: 100%;
        padding: 0px 10%;
        justify-content: space-around;
    }

    .Featured:nth-child(odd){
        flex-direction: row;
    }

    .Featured:nth-child(even){
        flex-direction: row-reverse;
    }

    .Featured-Img-Container{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Featured-Img-Container img{
        width: 300px;
    }

    .Featured-Content{
        flex: 1;
    }

    .Featured-Content h2{
        font-size: 40px;
        width: 100%;
        text-align: left;
    }

    .Featured-Content p{
        font-size: 28px;
        width: 100%;
        text-align: left;
    }

    .Hero{
        height: 550px;
        background-image: url('../../assets/Images/Menu/_Thumbnail/pexels-eneida-nieves-905847.jpg');
    }

    .Hero-Overlay{
        width: 700px;
        height: 1200px;
        left: -160px
    }

    .Hero-Buttons{
        margin-bottom: 45px;
    }

    .Hero-Text h1{
        font-size: 85px;
        margin-bottom: 140px;
    }

    .Hero-Text p{
        font-size: 40px;
        margin-left: 110px;
    }

    .Hero-Text p:last-of-type{
        margin-bottom: 40px;
    }

    .Hero-Buttons button{
        font-size: 22px;
        padding: 10px 45px;
    }

    .Hero-Buttons{
        margin-left: 40px;
    }
}

@media all and (min-width: 1300px){
    .Hero-Overlay{
        left: -30px
    }

    .Hero{
        height: 600px;
    }
    
    .Hero-Buttons{
        margin-bottom: 50px;
    }

    .Hero-Text h1{
        font-size: 110px;
        margin-bottom: 140px;
        margin-left: 30px;
    }

    .Hero-Text p{
        font-size: 45px;
        margin-left: 110px;
    }

    .Hero-Text p:last-of-type{
        margin-bottom: 40px;
    }

    .Hero-Buttons button{
        font-size: 22px;
        padding: 10px 45px;
    }

    .Hero-Buttons{
        margin-left: 40px;
    }

    .Featured-Header{
        font-size: 70px;
        margin-bottom: 150px;
    }

    .Featured{
        padding: 0px 15%;
        margin-bottom: 250px;
    }
}

@media all and (min-width: 1450px){
    .Hero{
        height: 750px;
    }

    .Hero-Overlay{
        top: -150px;
        height: 1800px;
        width: 1000px;
        left: 0px;
    }

    .Hero-Buttons{
        margin-bottom: 50px;
    }

    .Hero-Text h1{
        font-size: 120px;
        margin-bottom: 210px;
        margin-left: 110px;
    }

    .Hero-Text p{
        font-size: 55px;
        margin-left: 230px;
    }

    .Hero-Text p:last-of-type{
        padding-left: 110px;
    }

    .Hero-Buttons button{
        font-size: 28px;
        padding: 10px 65px;
    }

    .Hero-Buttons{
        margin-top: 20px;
        margin-left: 150px;
    }
    .Featured-Img-Container img{
        width: 350px;
    }

    .Featured-Content{
        flex: 2;
    }

    .Featured-Content h2{
        font-size: 50px;
        width: 100%;
        text-align: left;
    }

    .Featured-Content p{
        font-size: 32px;
        width: 100%;
        text-align: left;
    }
}