@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oooh+Baby&family=Oranienbaum&family=Oregano&display=swap');
/* font-family: 'Oregano', cursive; */
/* font-family: 'Oranienbaum', serif; */
/* font-family: 'Oooh Baby', cursive; */
/* font-family: 'Josefin Sans', sans-serif; */

*{
    padding: 0px;
    margin: 0px;
}

.Footer{
    background-image: url("./assets/Images/FooterBackground.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #373737;
  }

  .footer-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 280px
  }
  
  .footer-info a{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 14px;
  }
  
  .Footer p:first-of-type{
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px
  }

.Navigation{
    position: relative;
    z-index: 2;
}

#active{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #21A436;
    text-decoration-thickness: 3px;
}

.black-background{
    height: 1000px;
    width: 100%;
    background-color: rgb(210, 195, 224);
}

.link{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 300;
}

.desktop-links{
    display: none;
}

#navlogo-container{
    top: -40%;
    right: 10%;
    width: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navlogo{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border-radius: 100%;
    background-color: white;
    width: 120px;
    padding-bottom: 10px;
    height: 120px;
}

#navlogo h1{
    font-family: 'Oregano', cursive;
    color: #21A436;
    font-size: 28px;
    font-weight: 400;
    margin: 0px;
}

#navlogo p{
    color: #CF0000;
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.Featured-Header{
    font-size: 36px;
    font-family: 'Oregano', cursive;
    color: #21A436;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

@media all and (min-width: 320px) {
    .Featured-Header{
        font-size: 40px;    
    }

    #navlogo{
        width: 150px;
        height: 150px;
    }

    #navlogo-container{
        top: -70%;
    }

    #navlogo h1{
        font-size: 32px;
    }

    #navlogo{
        font-size: 15px;
    }

    .footer-info a{
        text-decoration: none;
        color: white;
        margin: 10px;
        font-size: 14px;
      }
}

@media all and (min-width: 430px){
    #navlogo h1{
        font-size: 32px;
    }

    #navlogo{
        font-size: 15px;
    }

    #navlogo-container{
        right: 18%;
    }

    .footer-info a{
        font-size: 18px;
      }
      
      .Footer p:first-of-type{
        font-size: 18px;
      }
      
      .Footer p:last-of-type{
        font-size: 18px;
      }
    
      .footer-info{
        width: 400px;
      }
}

@media all and (min-width: 768px){
    .Featured-Header{
        font-size: 50px;    
    }
    
    .mobile-links{
        display: none;
    }

    .desktop-links{
        display: flex;
        flex: 1;

    }

    #navlogo h1{
        font-size: 48px;
    }

    #navlogo p{
        font-size: 15px;
    }

    #navlogo-container{
        top: -50%
    }

    .link{
        margin-right: 2%;
        font-size: 16px;
    }

    .footer-info{
        width: 100%;
      }
    
      .footer-info a{
        font-size: 24px;
        margin: 10px 50px;
      }
      
      .Footer p:first-of-type{
        font-size: 24px;
      }
      
      .Footer p:last-of-type{
        font-size: 24px;
      }
}

@media all and (min-width: 850px){
    .link{
        margin-right: 3.5%;
    }
}

@media all and (min-width: 1000px){
    #navlogo-container{
        right: 20%;
    }

    #navlogo h1{
        font-size: 60px;
    }

    #navlogo p{
        font-size: 20px;
    }

    #navlogo{
        width: 250px;
        height: 250px;
    }

    #navlogo-container{
        top: -170%
    }

    .link{
        font-size: 18px;
    }
}

@media all and (min-width: 1250px){
    .link{
        font-size: 20px;
        margin-right: 60px;
    }
}

@media all and (min-width: 1400px){
    .link{
        margin-right: 90px;
    }
}
